# 1. Importation des librairies

In [2]:
# Importation des Librairies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

# Importation des Algorithmes
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

# Importation des Metriques
from sklearn.metrics import confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import mean_squared_error

# 2. Charger les donnees

In [3]:
# 2. Charger les donnees
data = pd.read_csv('Data/LoanApprovalPrediction.csv')
data.head(2)

    Loan_ID Gender Married  ...  Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...             1.0         Urban           Y
1  LP001003   Male     Yes  ...             1.0         Rural           N

[2 rows x 13 columns]

# 3. EDA : Exploratory Data Analysis

In [4]:
# Analyse des donnees
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 598 entries, 0 to 597
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            598 non-null    object
 1   Gender             598 non-null    object
 2   Married            598 non-null    object
 3   Dependents         586 non-null    float64
 4   Education          598 non-null    object
 5   Self_Employed      598 non-null    object
 6   ApplicantIncome    598 non-null    int64
 7   CoapplicantIncome  598 non-null    float64
 8   LoanAmount         577 non-null    float64
 9   Loan_Amount_Term   584 non-null    float64
 10  Credit_History     549 non-null    float64
 11  Property_Area      598 non-null    object
 12  Loan_Status        598 non-null    object
dtypes: float64(5), int64(1), object(7)
memory usage: 60.9+ KB

In [6]:
data['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [7]:
data['Gender'].value_counts()

Gender
Male      487
Female    111
Name: count, dtype: int64

In [9]:
data.Gender.unique()

array(['Male', 'Female'], dtype=object)

In [10]:
data['Married'].unique()

array(['No', 'Yes'], dtype=object)

In [ ]:
dat